@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Efecto hover para el botón */
#boton-carrito:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* Efecto al hacer clic en el botón */
#boton-carrito:active {
    background-color: #388e3c;
}

