@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Estilos para el main */
main {
    height: auto;
    text-align: center;
    padding: 25px;
}

/* Títulos principales */
main h1 {
    font-size: 50px;
    color: #413f3e;
}

main h2 {
    font-size: 40px;
    color: #413f3e;
}

section img {
    width: 300px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

main .section-cards-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section {
    border: 0.5px solid black;
    width: 350px;
    padding: 15px;
    background-color: #413f3e;
    color: rgb(255, 255, 255);
    margin: 25px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

section h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
}

.section-cards-header h1 {
    color: #413f3e;
    margin-bottom: 40px;
    font-family: "Playfair Display", serif;
    font-size: 50px;
}

.section-cards-body section p {
    margin-bottom: 10px;
}

body {
    margin: 0;
    font-family: "Playfair Display", serif;
    background-color: rgb(242, 242, 242);
}



.add-to-cart-btn {
    padding: 15px 30px;
    font-size: 18px;
    min-width: 250px;
    height: auto;
    background-color: #413f3e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

/* ---------------- Modal ---------------- */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Para ocultar el modal */
.modal.ocultar {
    display: none;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
    text-align: center;
    position: relative; /* Necesario para colocar el cierre correctamente */
}

/* Estilos del botón de cierre (X) */
.cerrar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px; /* Aumenta el tamaño */
    font-weight: bold;
    color: black; /* Color del X */
    cursor: pointer;
}

/* Lista de productos en el carrito */
#modal-cart-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#modal-cart-list li {
    margin-bottom: 10px;
    text-align: left;
}
